import classNames from 'classNames'; import { useTranslation } from
'react-i18next'; import css from './{{pascalCase name}}.module.scss'; interface
{{pascalCase name}}Props { className?: string; } export const
{{pascalCase name}}
= ({ className }:
{{pascalCase name}}Props) => { const { t } = useTranslation(); return (
<div className='{classNames()}' data-testid='{{pascalCase name}}'>
  {t('{{pascalCase name}}')}
</div>
); };